/* 2. */
.section_1 {
	width: 240px;
	height: 240px;
	color: white;
	background-color:blue;
}

/* 3. */
.section_2 {
	width: 240px;
	height: 240px;
	color: white;
	background-image: url(miskas.jpg);
}
/* 4. */
.section_3 {	
	width: 240px;
	height: 240px;
	color: white;
	background-image: url(miskas.jpg);
	border: solid 2px blue;
}
/* 5. */
.div_1 {
	width: 360px;
	height: 50px;
	color: white;
	background-color: blue;
	box-shadow: 5px 10px 10px grey;
}
/* 6. */
.div_2{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: blue;
}
/* 7. ir 8. */
.div_3{
	height: 50px;
	width: 80px;
	padding: 10px;
	margin: 5px;
	background-color: white;
	border: solid 1px;
	display: inline-block;
}
/* 8. */
.div_3_tev{
	height: auto;
	width: 345px;
	background-color: blue;
}
/* 9. */
.div_4_tev{
	display: flex;
	width: 520px;
	border: solid 1px red;
	background-color: blue;
}
.div_4{
	width: 100px;
	height: 50px;
	margin-right: 5px;
	vertical-align: middle;
	background-color: white;
	border: solid 1px #666;
	display: inline-block;
}
.div_4:last-child{
	width: 100px;
	height: 50px;
	margin-right: 0px;
	vertical-align: middle;
	background-color: white;
	border: solid 1px #666;
	display: inline-block;
}
/* 10. */
.mygtukas{
	height: 25px;
	width: auto;
	background-color: grey;
	border: solid 1px red;
}
.meniu{
	height: 300px;
	float: left;
	overflow: hidden; 
}
.meniu_pasirinkimai{
	display: none;
	background-color: white;
	position: absolute;
	z-index: 1;
}
.meniu_pasirinkimai_2{
	display: none;
	background-color: white;
	position: absolute;
	z-index: 1;
}
.meniu_pasirinkimai_3{
	display: none;
	background-color: white;
	position: absolute;
	z-index: 1;
}
.meniu_pasirinkimai_4{
	display: none;
	background-color: white;
	position: absolute;
	z-index: 1;
}
.meniu_pasirinkimai_5{
	display: none;
	background-color: white;
	position: absolute;
	z-index: 1;
}
.div_5{
	float: none;
	background-color: white;
	color: black;
	width: 100px;
	height: 50px;
	border: solid 1px black;
}
.meniu:hover .meniu_pasirinkimai{
	display: block;
	margin-left: 5px;
}
.meniu_pasirinkimai:hover .meniu_pasirinkimai_2{
	display: block;
	margin-top: -10px;
	margin-left: 5px;
}
.meniu_pasirinkimai_2:hover .meniu_pasirinkimai_3{
	display: block;
	margin-top: -10px;
	margin-left: 5px;
}
.meniu_pasirinkimai_3:hover .meniu_pasirinkimai_4{
	display: block;
	margin-top: -10px;
	margin-left: 5px;
}
.meniu_pasirinkimai_4:hover .meniu_pasirinkimai_5{
	display: block;
	margin-top: -10px;
	margin-left: 5px;
}
/* 11. */
.citata{
	border-top: dotted 3px;
	border-bottom: dotted 3px;
	padding-top: 5px;
	padding-bottom: 5px; 
}
.citata:before{
	content: "\2713";
}
#citata:after{
	content: "grynas.lt"
}