/* 1. */
.lentele{
 border-collapse: collapse;
}
th{
	border: solid 1px black;
	font-weight: normal;
	text-align: top-right;
}
th.rotate{
	height: 400px;
	white-space: nowrap;
}
th.rotate > div 
{
	transform:
		translate(2px, 180px)
		rotate(-90deg);
	width: 40px;
}
th.rotate > div > span
{
	padding: 1px 1px;
}
.nr{
	width:50px;
	text-align: left;
}
.studento{
	width: 500px;
}
/* 2. */
/* a */
.div_1{
	width: 120px;
	height: 50px;
	background-color: white;
	border: solid 1px black;
	transition-timing-function: ease-in;
	transition-duration: 3s;
}
.div_1:hover{
	transform: rotate(120deg);
}
/* b */
.div_2_tev{
	height: 900px;
	width: 900px;
	border: solid;
}
.div_2{
	border: solid 1px black;
	background-color: white;
	display: block;
	background-color: grey;
	height: 50px;
	width: 50px;
}
.div_2_tev:hover .judesys{
	animation-play-state: running;
}
.div_2_tev:hover .div_2{
	background-color: red;
}
.judesys{
	animation-name: judek;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-play-state: paused;
}
@keyframes judek{
	from {
		transform: translateX(0px)
		translateY(0px)
		scale(0.25);
	}
	25%{
		transform: translateX(850px)
		translateY(0px)
		scale(0.5);
	}
	50%{
		transform: translateX(850px)
		translateY(850px)
		scale(1);
	}
	75%{
		transform: translateX(850px)
		translateY(0px)
		scale(0.5);
	}
	to {
		transform: translateX(0px)
		translateY(0px)
		scale(0.25);
	}
}
/* 3 */
.pirma{
 filter: grayscale(50%);
}
.antra{
filter: opacity(60%);
}
/* 4. */
.div_3{
	border:solid 1px red;
	background-color: grey;
	width: 100px;
	height: 100px;
}
.div_3_tev{
	border: solid 1px black;
	width: 500px;
	height: 500px;
}
.div_3_tev:hover .animacija{
	animation-play-state: running;
}
.div_3_tev:hover .div_3{
	background-color: red;
}
.animacija{
	animation-name: apskritimas;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-play-state: paused;
}
@keyframes apskritimas{
	from {
		transform: translateX(0px)
		translateY(0px);
		border-radius: 0%;
	}
	10%{
		transform: translateX(400px)
		translateY(0px);
		border-radius: 25%;
	}
	20%{
		transform: translateX(0px)
		translateY(400px);
		border-radius: 50%;
	}
	30%{
		transform: translateX(400px)
		translateY(400px);
		border-radius: 25%;
	}
	40%{
		transform: translateX(0px)
		translateY(0px);
		border-radius: 0%;
	}
	50%{
		transform: translateX(0px)
		translateY(400px);
		border-radius: 25%;
	}
	60%{
		transform: translateX(400px)
		translateY(0px);
		border-radius: 50%;
	}
	70%{
		transform: translateX(400px)
		translateY(400px);
		border-radius: 25%;
	}
	80%{
		transform: translateX(0px)
		translateY(0px);
		border-radius: 0%;
	}
	90%{
		transform: translateX(0px)
		translateY(400px);
		border-radius: 25%;
	}
	100%{
		transform: translateX(400px)
		translateY(0px);
		border-radius: 50%;
	}
}
/* 5. */
.t:before{
	content: attr(data-name);
}
/* 6. */
.scrollbar{
	margin-left: 0px;
	float: left;
	height: 100px;
	width: 300px;
	padding:none;
	background:white;
	overflow-y: scroll;
	margin-bottom: 25px;
	white-space: pre;
	text-align: left;
}
.force-overflow{
	min-height:100px;
}
#himnas{
	background-color: white;
	border: solid 1px;
}
/* 7. */
.div_turizmas{
	height: 200px;
	width: 300px;
	vertical-align: middle;
	color:green;
	background-image: url("../images/turizmas.jpg");
	object-fit: cover;
}
.div_turizmas:hover{
	filter: grayscale(100%);
}
#tev:hover .div_turizmas{
	filter: grayscale(100%);
}
.turizmo_animacija{
	animation-name: turizmas;
	animation-duration: 2s;
}
@keyframes turizmas{
	0%{
		filter: opacity(0%);
		transform: translateX(1000px);
	}
	25%{
		filter: opacity(25%);
		transform: translateX(750px);
	}
	50%{
		filter: opacity(50%);
		transform: translateX(500px);
	}
	75%{
		filter: opacity(75%);
		transform: translateX(250px);
	}
	100%{
		filter: opacity(100%);
		transform: translateX(0px;);
	}
}