body,html{
	height: 100%;
}
.div_pag{
	width: 1920px;
	height: 1280px;
}
.background{
	background-image: url("../images/main.jpg");
	object-fit: cover;
	background-repeat: no-repeat;
	margin-left: -8px;
}
header{
	height: 140px;
	padding-top: 80px;
	border-bottom: 1px,white,solid;
	border-bottom-width: 80%;
}
.header_logo_section{
	vertical-align: middle;
	margin-left: 100px;
	display: inline-block;
}
.header_nav_section{
	display: inline-block;
}
.header_nav_section > nav >a{
	color:white;
	margin-right: 50px;
	text-decoration: none;
}
.header_nav_section > nav > a:last-of-type{
	color:white;
	text-decoration: none;
}
.search_section{
	vertical-align: middle;
	display: inline-block;
	float: right; 
}


main{
	margin-top: 200px;
}
.main_text_section{
margin-bottom: 90px;
}
.really_button{
	height: 320px;
}
.play_button_section{
	margin-top: 30px;
	height: 123px;
	margin-bottom: 40px;
}
.img_section{
	margin-bottom: 115px;
	margin-top: -40px;
	margin-left: 0px;
}
.img_section > figure >img{
	display: inline-block;
	margin-right: -4px;
}
.img_section > figure >img:first-of-type{
	display: inline-block;
	margin-left: -48px;
}
.img_section > figure >img:last-of-type{
	display: inline-block;
	float: right;
	margin-right: -30px;
}
footer{
	margin-top: -120px;
	margin-left: -20px;
	padding-top: 110px;
	height: 400px;
	background-color: white;
}
footer > section >nav>ul > a{
	text-decoration: none;
}
.follow_us_section{
	margin-left: 180px;
	display: inline-block;
	margin-right: 260px;
}
.get_to_know_us_section{
	display: inline-block;
	margin-right: 270px;
}
.locations_section{
	display: inline-block;
	margin-right: 290px;
}
.our_mission_section{
	display: inline-block;
	margin-bottom: 120px;
}
article{
	width: 360px;
}
.footer_titles{
	margin-bottom: 45px;
	font-weight: bold; 
}
.copyright{
	height: 90px;
	padding-top: 40px;
	background-color: black;
}
.copyright >p{
text-align: center;
color:grey;
}
footer > section> nav > ul{
list-style-type: none;
padding-left: 0px;
text-align: left;
}
.meniu{
	position: relative;
	display: inline-block;
	margin-left: 40px;
	margin-right: 100px;
}
.dropdown-content{
	display: none;
	position: relative;
	margin-left: -125px;
	width: 160px;
	position: absolute;
	z-index: 1;
}
.meniu:hover{
	background-color: red;
}
.meniu:hover .dropdown-content{
	display: block;
}
.meniu > .dropdown-content > a:hover{
	background-color: grey;
}
.dropdown-content a{
	color:black;
	background-color: rgb(255,255,255,0.7);
	text-decoration: none;
	padding: 12px 16px;
	display:block;
}